/* Кнопка вверх */
 #upButton{
  height: 3vw;
  width: 3vw;
  background-color: rgba( 212, 212, 212, 0.7);
  position:fixed;
  border-radius: 45px;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin-bottom: 1%;
  margin-right: 0.5%;
  cursor: pointer;
}
.strel_top{
  flex: 1;
  margin-top: 13%;
  margin-left: 13%;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 70%;
  background-image: url("../../../images/стрелка_вверх.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Стили титульной части */
.ryad{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
}
.torg{
  display:flex;
  justify-content: flex-end;
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 50%;
  margin: 0px;
}
.torg-text{
  font-family: 'Inter';
  font-size: 8.5vw;
  color: #FFFFFF;
  margin: 8% 0px 0px 0px;
  margin-top: 12%;
}
.ove-text{
  font-family: 'Inter';
  font-size: 8.5vw;
  color: #338672;
  margin: 8% 0px 0px 0px;
  margin-top: 12%;
}
.line-text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 1.3vw;
  text-align: left;
  color: #FFFFFF;
  padding-right: 20%;
  padding-left: 21px;
  margin-top: 0;
}
.text{
  display:flex;
  flex-direction: row;
  background-color: transparent;
  width: 100%;
  height: 35%;
}
.line-box{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  height: 100%;
  width: 10%;
}
.side-line{
  border-left: 1px solid #FFF;
  height: 65%;
  margin-top: 0;
}
.description{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  position: relative;
}
.button_kart{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 15%;
}
.button{
  background-color: #FFF;
  border: none;
  color: #000;
  border-radius: 60px;
  width: 19%;
  height: 45%;
  font-family: 'Kurale';
  font-style: normal;
  font-size: 1.7vw;
  text-align: center;
  cursor: pointer;
}
.del{
  display:flex;
  background-color: transparent;
  justify-content: flex-start;
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 50%;
}


/* Стили таймлайна */
.model{
  flex: 1;
  background-image: url("../../../images/IMG_1745.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.center-col {
  flex: 1;
  height: 100%;
  background: #393853;
  overflow-y: scroll;
  width: 35%;
}
.center-col::-webkit-scrollbar {
  display: none;
}
.block{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 22%;
  margin-left: 10%;
}
.dot{
  position: absolute;
  z-index: 3;
  width: 10px;
  background-color: #FFFFFF;
  height: 10px;
  border-radius: 50%;
  margin-top: 11%;
  margin-left: 5.95%;
}


/* Стили слайдера */
.slider{
	height: 100%;
  width: 100%;
	align-items: center;
  justify-content: center;
}


/* Стили подвала */
.text-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%; 
}
.text-column{
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
}
.text-row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}
#metka{
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  height: 20px;
  width: 20px;
  background-image: url("../../../images/Метка.png");
}
h1{
  letter-spacing:0.05em;
  font-size: 1.7vw;
  font-weight: 600;
  margin-top: 0%;
  margin-bottom: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  color: #FFFFFF;
}
h2 {
  font-size: 1.2vw;
  font-weight: 300;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  color: #FFFFFF;
}
h3{
  font-size: 1vw;
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  color: #FFFFFF;
}

/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');