/* Инфо блок */
.infoCont{
    display: flex;
    flex-direction: column;
    width: 392px;
    height: 551px;
    position: absolute;
    background-color: #FFFFFF;
    z-index: 6;
    bottom: 0;
    margin-bottom: 3.5%;
    margin-left: 2%;
    border-radius: 49px;
  }
  .imgCont{
    display: flex;
    width: 100%;
    height: 135px ;
    top: 0;
    border-radius: 46px;
    background-color: greenyellow;
    position: absolute;
  }
  .about{
    display: flex;
    width: 100%;
    height: 322px;
    bottom: 0;
    border-radius: 46px;
    background-color: #393853;
    position: absolute;
  }
  .head{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 94px;
    margin-top: 135px;
  }
  .mainText{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10%;
  }
  .mainText p{
      color: #FFFFFF;
      font-weight: 350;
  }
  .mainInfo{
      display: flex;
      flex-direction: column;
      width: 62%;
      height: 100%;
  }
.iconCont{
    display: flex;
    width: 38%;
    height: 100%;
    background-color: pink;
}
.name{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: crimson;
}
.name p{
    margin-top: 0;
    color: #000000;
    font-weight: 550;
    font-size: 24px;
}
.date{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: darkslategray;
}