html,body{
  margin:0;
  background-color: transparent;
}


.mainMobile{
  width: 100%;
  height: auto;
  display: flexbox;
  
}

.cont {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #393853;
}

#cont1 {
  background-image: url('../images/bg_mobile.jpg');
}

#cont2 {
  display: flex;
  background-color: #fff;
  flex-direction: column;
}

#slider{
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.model_mobile{
  height: 35%;
  background-color: #ffff;
  background-image: url("../../src/images/IMG_1745.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.center-col_mobile {
  flex: 1;
  height: 100%;
  background: #393853;
  overflow-y: scroll;
  width: 100%;
}
.center-col_mobile::-webkit-scrollbar {
  display: none;
}
.blocknew_mobile{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 25%;
  margin-left: 10%;
}
.dot_mobile{
  position: relative;
  z-index: 1;
  width: 10px;
  height: 10px;
  top: 48%;
  left: 18.75%;
  background-color: #FFFFFF;
  border-radius: 50%;
}
/*
.time_mobile{
  height: 66%;
}
.time_mobile_radius{
  display: flex;
  height: 100%;
  background-color: #393853;
  border-top-left-radius: 7%;
  border-top-right-radius:  7%;
}

.foto_mobile {
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  height: 100%;
  width: 20%;
  margin-bottom: 21%;
  margin-left: 15%;
}

#ph1{
  background-image: url("../../src/images/Спаса_1.png");
}
#ph2 {
  background-image: url("../../src/images/Гостиный двор.png");
}
#ph4 {
  background-image: url("../../src/images/Гостиный двор.png");
}
*/
#ph5{
  background-image: url("../../src/images/menu.png");
}

/*
.allinfo_mobile{
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  top: 3%;
}
  
.info_mobile{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin-left: 3%;
}
  
.textdate_mobile{
  margin-left: 5%;
  margin-top: 5%;
  height: 85%;
  width: 70%;
  font-size: 12px; 
  font-weight: 600;
  color: #FFFFFF;
  text-align: left;
}
  
.line_mobile{
  position: relative;
    z-index: 1;
    left: 35%;
    margin-left: 3%;
    width: 1px;
    background-color: #FFFFFF;
    height: 93%;
    top: 7%;
}

#lineText{
  height: 100%;
  top: 2%;
}

.dot_mobile{
  position: relative;
  z-index: 1;
  left: 33.64%;
  width: 10px;
  background-color: #FFFFFF;
  height: 2%;
  top: 7.5%;
  border-radius: 50%;
}
  
.date_mobile{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15%;
}
 */ 
hr{
  border: none; /* Убираем границу */
  background-color: #FFFFFF; /* Цвет линии */
  color: #FFFFFF; /* Цвет линии для IE6-7 */
  height: 0.7px; /* Толщина линии */
}
 
/*
.linedate_mobile{
  width: 5%;
}*/
  
.number_mobile{
  width: 24%;
  padding: 0.5%;
  background: rgb(255, 255, 255, 0.5); /* фон рамки */
  font-size: 15px; /* размер шрифта */
  font-weight: 500;
  border-radius: 5px; /*  радиус скругления углов рамки */
  color: #FFFFFF;
  text-align: center;
}
  
.block_mobile{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 20%;
}
.ryad_mobile{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 10%;
  width: 100%;
}

.torg_mobile{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 20%;
  margin: 0px;
}
.torg-text_mobile{
  font-family: 'Inter';
  text-align: right;
  font-style: normal;
  font-size: 50px;
  margin: 20px 20px 0px 0px;
}

.text_mobile{
  display:flex;
  z-index: 5;
  flex-direction: raw;
  background-color: transparent;
  padding-top: 10%;
  width: 100vw;
  height: 50%;
}
/* .line_mobile{
  border-left: 4px solid #FFF;
  height: 100%;
  margin: 0px;
} */
.line-box_mobile{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: transparent;
  height: 240px;
  width: 8%;
}
.line-text_mobile{
  font-family: 'Inter';
  font-style: normal;
  font-size: 20px;
  text-align: left;
  color: #FFFFFF;
  padding-right: 10%;
  padding-left: 21px;
}
.new_mobile{
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 300px;
  position: relative;
}
.button_kart_mobile{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100vw;
  height: 10%;
  margin-bottom: 3%;
}
.button_mobile{
  background-color: #FFF;
  border: none;
  color: #000;
  border-radius: 70px;
  width: 132px;
  height: 45.22px;
  font-family: 'Kurale';
  font-style: normal;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

.ob{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.kartinka{
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  height: 40px;
  width: 40px;
  margin-top: 20px;
  margin-left: 20px;   
}
.strelka{
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  height: 40px;
  width: 40px;
  background-image: url("../../src/images/стрелка.png");
}
.pod_mobile{
  font-family: 'Inter';
  font-style: normal;
  text-align: center;
  font-size: 20px; 
  color: #FFFFFF;
}
.metka_mobile{
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  background-image: url("../../src/images/Метка.png");
}
.block_mobile{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  background-color: #393853;
}
