
header{
  display: flex;
  z-index: 2;
  background-color: transparent;
  width: 100%;
  height: 20%;
  position: relative;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  background-color: transparent;
  z-index: -111;
  position: absolute;
  opacity: 1;
  margin-top: 1%;
}

.container {
 background-image: url('../images/bg.png') ;
 background-repeat: no-repeat;
 background-size: cover;
}

.nav-item{
  color: #FFF;
  font-size: 24px;
  font-family: 'Inter';
  font-style: normal;
  text-decoration: none;
}

.torg{
  display:flex;
  justify-content: flex-end;
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 50%;
  margin: 0px;
}
.torg-text{
  font-family: 'Inter';
  font-style: normal;
  font-size: 150px;
  color: #FFFFFF;
  margin: 10% 0px 0px 0px;
}
.ove-text{
  font-family: 'Inter';
  font-style: normal;
  font-size: 150px;
  color: #338672;
  margin: 10% 0px 0px 0px;
}
.del{
  display:flex;
  background-color: transparent;
  justify-content: flex-start;
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 50%;
}
.text{
  display:flex;
  flex-direction: raw;
  background-color: transparent;
  width: 100%;
  height: 35%;
}
.line{
  border-left: 3px solid #FFF;
  height: 100%;
}
.line-box{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: transparent;
  height: 230px;
  width: 10%;
}
.line-text{
  font-family: 'Inter';
  font-style: normal;
  font-size: 28px;
  text-align: left;
  color: #FFFFFF;
  padding-right: 20%;
  padding-left: 21px;
}
.new{
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  height: 197px;
  width: 689px;
  position: relative;
}
.button_kart{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 15%;
}
.button{
  background-color: #FFF;
  border: none;
  color: #000;
  border-radius: 70px;
  width: 198px;
  height: 67.83px;
  font-family: 'Kurale';
  font-style: normal;
  font-size: 36px;
  text-align: center;
  cursor: pointer;
}

.felx-block {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 768px;
  height: auto;
  width: 100%;
  background-color: #393853;
}

.model{
  z-index: 0;
  background-image: url("../../src/images/IMG_1745.png");
  min-height: 500px;
  max-height: 650px;
  width: 100%;
  background-repeat: no-repeat;
  background-size:contain;
}

.ryad{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 50%;
}

.time{
  display: flex;
  width: 40%;
  height: 90%;
}

.foto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 22%;
}

.foto1{
  background-image: url("../../src/images/Спаса_1.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  height: 100%;
  width: 20%;
  margin-bottom: 16%;
}
.foto2{
  background-image: url("../../src/images/Гостиный двор.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  height: 100%;
  width: 20%;
  margin-bottom: 16%;
}
.foto3{
  /*background-image: url("../../src/images/1.png");*/
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  height: 100%;
  width: 20%;
  margin-bottom: 16%;
}
.foto4{
  background-image: url("../../src/images/Гостиный двор.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  height: 100%;
  width: 20%;
  margin-bottom: 16%;
}


.allinfo{
  z-index: 2;
  right: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.info{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin-left: 3%;
}

.textdate{
  margin-left: 5%;
  margin-top: 3%;
  height: 85%;
  width: 70%;
  padding: 2px;
  font-size: 20px; /* размер шрифта */
  font-weight: 600;
  color: #E5E5E5;
  text-align: left;
}

.line{
  position: relative;
  z-index: 1;
  left: 16.7%;
  margin-left: 3%;
  width: 2px;
  background-color: #E5E5E5;
}

.date{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15%;
}

hr{
  border: none; /* Убираем границу */
  background-color: #E5E5E5; /* Цвет линии */
  color: #E5E5E5; /* Цвет линии для IE6-7 */
  height: 2px; /* Толщина линии */
}

.linedate {
  width: 5%;
 }
 
 .number{
  width: 15%;
  padding: 0.3%;
  background: #a09797; /* фон рамки */
  font-size: 20px; /* размер шрифта */
  font-weight: 700;
  border-radius: 10px; /*  радиус скругления углов рамки */
  color: #E5E5E5;
}

.block{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 20%;
}

.slider{
	min-height: 768px;
	height: auto;
  	width: 100%;
	align-items: center;
    justify-content: center;
}

