/* Основные блоки */
.map-cont{
  height: 100vh;
  width: 100%;
  position: absolute;
}
.felx-block-map {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 768px;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #CBC7FF;
}

/* Масштабирование */
#zoomCont {
  display: flex;
  width: 38px;
  height: 92px;
  right: 0;
  margin-right: 1.5%;
  margin-top: 2%;
  position: absolute;
  z-index: 5;
  
}
#zoomTools{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.7);
}
.tool {
  display: flex;
  width: 100%;
  height: 50%;
  z-index: 6;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tool p{
  font-size: 38px;
  color: #4E4E4E;
  font-weight: 400;
  -webkit-touch-callout: none; /* iOS Safari */
  user-select: none;   /* Chrome/Safari/Opera */
}
#toolLine{
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: #A0A0A0;
}


/* Помощь */
#help {
  display: flex;
  height: 45px;
  width: 45px;
  background-color: rgba( 255, 255, 255, 0.7);
  position:fixed;
  border-radius: 45px;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin-bottom: 2%;
  margin-right: 1.5%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

#help p{
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4E4E4E;
  font-weight: 500;
  -webkit-touch-callout: none; /* iOS Safari */
  user-select: none;   /* Chrome/Safari/Opera */
}